html, body {
    height: 100vh;
}

* {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    display: grid;
    grid-template-areas: 
        "icon-wrapper hero-wrapper"
        "info-wrapper hero-wrapper";
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr 4fr;
    background-image: url(bg-pattern-desktop.svg);
    height: 100vh;
}

.icon-wrapper {
    grid-area: icon-wrapper;
    padding: 10%;
    height: auto;
}

.hero-wrapper {
    grid-area: hero-wrapper;
    height: auto;
}

.hero-wrapper img {
    width: 100%;
}

.info-wrapper {
    grid-area: info-wrapper;
    padding: 10%;
    height: auto;
}

@media (max-width: 767px) {
    .container {
        display: grid;
        display: grid;
        grid-template-areas: 
            "icon-wrapper"
            "hero-wrapper"
            "info-wrapper";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .icon-wrapper {
        grid-area: icon-wrapper;
    }
    
    .hero-wrapper {
        grid-area: hero-wrapper;
    }
    
    .info-wrapper {
        grid-area: info-wrapper;
    }
}