.info-wrapper {
    background-image: url(/home/vboxuser/repos/coming-soon-page/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    flex: 1;
}

.input-wrapper {
    position: relative; 
    display: inline-block; /* ensures .container only takes up as much width as its content */
    margin-left: 80px;
    margin-top: 10px;
}

.info {
    margin-left: 80px;
    margin-top: 40px;
}

.icon-wrapper {
    margin-left: 80px;
    margin-top: 30px;
}

.logo {
    margin-top: 35px;
    margin-bottom: 50px;
}

.input, .arrow-button {
    border-radius: 25px; /* round the corners of both elements */
}

.announcement {
    width: 85%; /* set the max width of h3 element to ensure words wrap within this limit */
    word-wrap: break-word; /* long words will break onto the next line instead of overflowing the container */
    margin-bottom: 35px;
}

.input {
    height: 38px;
    width: 275px;
}

.arrow-button {
    height: 42px;
    width: 80px;
    position: absolute; 
    /* align .arrow-button to top right corner */
    top: 0; 
    right: 0; 
    z-index: 1; /* ensure the arrow button appears above the input field */
}

.flex-container {
    display: flex;
}

.hero-wrapper {
    flex: 1;
}